p a {
    font-weight: 700;
    color: $brand-orange;
}

.no-padding {
    padding: 0;
}

.add-margin {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.hidden {
    display:none;
}

/* === general typography === */
h1, .h1 {
    font-family: $font-family-serif;
    font-weight: 700;
}

h2, .h2 {
    font-family: $font-family-serif;
    font-weight: 700;
    line-height: $headings-line-height;
    color: $headings-color;
}

h3, .h3 {
    font-family: $font-family-sans-serif-condensed;
}

.lead {
    border-top: 1px solid $gray-lightest;
    border-bottom: 1px $gray-lightest solid;
    padding: 1.5rem 0;
    margin: 2rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: $font-family-sans-serif-condensed;
}

.underline-highlight {
    border-bottom: 4px solid $brand-highlight;
}

.btn-outline-secondary {
  @include button-outline-variant($brand-primary);
}

@include media-breakpoint-down(sm) {
    html {
        font-size: 15px;
    }

    h1, .h1 {
        font-size: ($font-size-h1 * .65);
    }

    h2, .h2 {
        font-size: ($font-size-h2 * .8);
    }

    h3, .h3 {
        font-size: ($font-size-h3 * .75);
    }

    h4, .h4 {
        font-size: ($font-size-h4 * .75);
    }

    h5, .h5 {
        font-size: ($font-size-h5 * .75);
    }

    h6, .h6 {
        font-size: ($font-size-h6 * .75);
    }
}
