/*
===========
###INDEX###
===========
=== EVERY PAGE ===
# general, site wide styles
# main navigation
# sidebar navigation
# summary area
# footer

=== HOME ===

=== ABOUT ===
# contact page

=== RESEARCH= ===

=== NEWS ===

=== VIDEO ===

=== EVENTS ===

=== PEOPLE ===
*/



/* # general, site wide styles # */

ul {
    padding-left: 1.7rem;
    list-style-type: square;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: $headings-margin-bottom;
}

.btn {
    white-space: normal;
}

.i-mark {
        padding: 0 .5rem;

        img {
            vertical-align: sub;
        }
    }

/* # main navigation # */
#main-nav {
    padding: 0 $navbar-padding-x;

    ul.childmenu {
        padding: .2rem 1rem .2rem 1.3rem;
        margin-left: .5rem;

        li {
            margin-bottom: .75rem;
        }
    }

    .nav-link {
        padding: 1.5rem .5rem;
    }

    .navbar-brand {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .navbar-toggler {
        margin: 1rem 0;
    }

    @include media-breakpoint-down(sm) {
        #header-i-mark {
            display: none;
        }

        .navbar-toggler {
            margin: .5rem 0;
        }
    }
    //megamenu styles kick in at screen size medium
    @include media-breakpoint-up(md) {
        //navbar-nav breaks awkwardly at medium; change flex direction to column from row and back to row again later
        flex-direction: column;

        .nav-item {
            margin-right: auto;
        }
        //remove dropdown caret from visual while keeping dropdown-toggle class for custom jquery to hook into
        .dropdown-toggle::after {
            border: 0;
        }

        .dropdown-menu {
            padding: 2rem 4rem 4rem 4rem;
        }

        .dropdown.widenav {
            position: static;
        }

        .dropdown.widenav .dropdown-menu {
            right: 0;
            left: 0;
            margin-top: -.5px;
        }
        //enable on hover dropdowns rather than click to dropdown.
        .dropdown:hover .dropdown-menu, .dropdown:focus .dropdown-menu {
            display: block;
        }
    }
    //make navbar-nav float right again
    @include media-breakpoint-up(lg) {
        flex-direction: row;

        .navbar-nav {
            margin-left: auto;
        }
    }
}

/* # sidebar navigation # */
#sidebar-nav {
    ul.first-level {
        padding-left: 0;
    }

    ul.second-level {
        padding-left: 0;
    }

    ul.third-level {
        padding-left: 1rem;

        a {
        }
    }
}

/* # summary area # */
#summary {
    padding: 2rem 0;
}

/* # footer # */
footer {
    ul {
        padding-left: 0;
    }

    .social {
        .social-link {
            display: block;
            padding: 4px;
        }
    }
}

/* === HOME === */
#communications {
    .card-img-top {
        height: 150px;
        overflow: hidden;

        img {
            object-fit: cover;
            max-height: 150px;
            width: 100%;
        }
    }

    .media-links {
        padding: .5rem 1.25rem;
    }
}

#outlook {
    .event-list {
        padding: 2rem 4rem;

        ol {
            padding-left: 0;
        }

        li {
            padding: .5rem 0;
        }

        time {
            padding-right: 1rem;
        }
    }

    .menu-list {
        padding: 2rem 4rem;
    }
}

/* === ABOUT === */
/* # contact page # */

.contact-list ul {
    list-style-type: none;
    padding-left: 0;
}

/* === NEWS === */
#paging {
    ul {
        padding-left: 0;
    }
}

/* === VIDEO === */
#videos {
    ul{
        padding-left:0;
        list-style-type:none;
    }
}
a .play-button {
    position: absolute;
    left: 40%;
    top: 15%;
    color:white;
}

a:hover .play-button {
    color: lighten($gray-lightest, 5%);
}

/* === PEOPLE === */
#person-list {
    .row {
        padding: 0;
    }

    img {
        width: 100%;
    }

    .shadow {
        padding: 1rem;
        margin: 1rem 0;
    }

    .photo {
        float: left;
        width: 25%;
        overflow: hidden;
        margin-right: 2rem;
    }
}

.alphabet {
    list-style-type:none;
    padding-left: 0;

    li {
        float:left;
    }

    a {
        padding: 0 .4rem;
        margin: .25rem;
        width: .5rem;
        display: inline;
    }
}