/*
===========
###INDEX###
===========
    === general band styles ===
    === photo bands ===
    === cards ===
    === list nav ===
*/

/* === band styles === */
//adds extra padding to space out different banded content.
.band {
    padding-top: 3em;
    padding-bottom: 3em;
}

.short-band {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.photo-band {
    .right {
        left: auto; //ie doesn't use initial
        left: initial;
    }
}

@include media-breakpoint-up(xs) {
    //place this class on div that wraps entire photo band; do not make a container
    .photo-band {
        width: 100%;
        //class for headings or information that overlays the photo itself
        .photo-band-caption {
            padding: 40px 0;
        }

        img {
            //testing object-fit: cover
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            //width: 100%;
            //height: auto;
            z-index: 0;
        }

        .photo-info p {
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 1rem;
        }
    }

    .row {
        margin: 0;
    }

    .photo-band-photo {
        width: 100%;
        padding: 0;
    }
}

@include media-breakpoint-up(md) {
    //place this class on div that wraps entire photo band; do not make a container
    .photo-band {
        position: relative;
        overflow: hidden;

        .photo-band-caption {
            padding: 0;
        }
        //class for info which goes in a block on top of the photo
        .side-info {
            padding: 40px 40px $spacer 40px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        //class for headings or information that overlays the photo itself
        .photo-info {
            padding: 40px 40px $spacer 15px;
            align-self: flex-end;
        }

        img {
            //testing object-fit: cover
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            //width: 100%;
            //height: auto;
            z-index: 0;
        }
        //class to create a darkened overlay for the photo to improve contrast
        .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0,0,0,.5);
            z-index: .9;
        }

        .photo-info p {
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 1rem;
        }
    }

    .photo-band.short {
        min-height: 150px;

        .overlay, .photo-band-caption {
            min-height: 150px;
        }
    }

    .photo-band.medium {
        min-height: 400px;

        .overlay, .photo-band-caption {
            min-height: 400px;
        }
    }

    .photo-band.tall {
        min-height: 600px;

        .overlay, .photo-band-caption {
            min-height: 600px;
        }
    }
    //place on container for words overlaying the photo
    .photo-band-caption {
        z-index: 10;
        right: 0;
        left: 0;
        display: flex;

        .row {
            width: 100%;
        }
    }
    //fixes weird 1px of photo that shows above caption area
    .photo-band-photo {
        position: absolute;
        height: 100%;
        margin-top: -1px;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.5);
        padding: 0;
    }

    .photo-right {
        .side-info {
            padding: 40px 5rem 2rem 15px;
        }

        .photo-band-photo {
            left: initial;
        }
    }
}

.index-cards {
    ul#card-set {
        list-style-type: none;
        padding-left: 0;
    }

    a.card-block {
        border-top: 4px dotted $brand-primary;
        flex: none;
    }
}

#shuffle-set { //fixed height for cards on front page due to sorting that doesn't work with flexbox
    .card {
        height: 390px;
    }

    @include media-breakpoint-down(sm) {
        .card {
            height: auto;
        }
    }
}

ul#card-set {
    list-style-type: none;
    padding-left: 0;
}

.card-grid {
    //add padding to any col-xx-xx styles.  Make sure the col- class is first in list of classes in the html or this won't work.
    [class^="col-"] {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .card {
        height: 100%;
    }

    .card-img-top {
        height: 30%;
        overflow: hidden;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

#list-nav, #list-nav-directory {
    .row {
        align-items: stretch;
    }

    .list-nav-item {
        align-items: stretch;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        flex-direction: column;
        min-height: 50px;
    }

    .list-nav-item a {
        flex: 1;
    }
    //hacky bit of css to ensure anchor takes up full height of .list-nav-item (via align-items-stretch) and is also vertically centered.
    .list-nav-item a:before {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        content: '';
    }

    .searchform.list-nav-item {
        padding: 1rem;
    }

    nav > div {
        padding: 0;
    }

    ul {
        padding: 1rem;
        width: 100%;
        background-color: lighten($gray-lightest, 5%);
    }

    li {
        padding: .25rem 0;
    }
}