/*
===========
###INDEX###
===========
# EVERY PAGE
## bands

===========
###INDEX###
===========
=== EVERY PAGE ===
# buttons
# bands
# main nav
# footer

=== HOME ===

=== ABOUT ===
# contact page

=== PEOPLE ===

*/

/* === buttons === */
.btn-outline-primary:hover,
.btn-outline-primary:focus {
    * {
        color: white;
    }
}

.gray-dark {
    a.btn:focus, a.btn:hover {
        color:inherit;
    }
    a:focus, a:hover {
        color: $brand-primary;

        i {
            color: $brand-primary;
        }
    }
}

#main-nav {
    .wordmark:hover, .wordmark:focus {
        text-decoration: none;
        color: $brand-primary;
    }

    .i-mark:hover, .i-mark:focus {
        text-decoration: none;
    }

    .nav-link:hover, .nav-link:focus {
        color: white;
        background-color: $brand-primary;
    }
}

/* === footer === */
footer {
    a:focus, a:hover {
        text-decoration: none;
    }
}

/* === PEOPLE === */
.person .name a:hover {
    text-decoration: none;
}