/*
===========
###INDEX###
===========
=== GENERAL ===
# buttons
# module theming
# bands
# main navigation
# sidebar navigation
# footer

=== HOME ===

=== ABOUT ===
# contact page

=== RESEARCH= ===

=== NEWS ===

=== VIDEO ===

=== EVENTS ===

=== PEOPLE ===
*/

/* === button theming === */
.btn {
    padding: 1rem;
}

.btn-outline-primary {
    * {
        color: $brand-dark;
    }
}

/* === module styles === */
.photo-band {

    .photo-info * {
        color: white;
        text-shadow: none;
    }

    .photo-info p {
        font-size: .9rem;
        background-color: rgba(0,0,0,.7);
    }

    .photo-info h1 {
        color: white;
        text-shadow: 0px 0px 2px black;
    }

    .overlay {
        background-color: rgba(0,0,0,.5);
    }
}

#list-nav {
    .list-nav-item {
        background-color: lighten($gray-lightest, 5%);
        font-weight: bold;
        font-family: $font-family-sans-serif-condensed;
        font-size: 1.5rem;
        text-align: center;
    }

    ul {
        text-align: left;
        list-style-type: none;

        li {
            line-height: 1rem;
        }

        a {
            font-size: .8rem;
        }
    }
}

/* === band colors === */
.paper {
    //background: url($image-directory + "low-contrast-linen.png"), #e7dab9;
    background: linear-gradient(rgba(231, 218, 185, 0.65),
    rgba(231, 218, 185, 0.65)),url($image-directory + "low-contrast-linen.png"), white;

    @include media-breakpoint-down(sm) {
    .photo-info h1, .h1 {
        color: black;
        text-shadow: none;
    }}
}

.dotted {
    border-top: 15px dotted $brand-primary;
    border-bottom: 15px dotted $brand-primary;
}

.black {
    background-color: black;

    * {
        color: white;
    }

    h3, .h3 {
        color: white;
        border-bottom: none;
    }
}

.gray-dark {
    background-color: $gray-dark;

    * {
        color: white;
    }

    h3, .h3 {
        color: white;
        border-bottom: none;
    }

    h1, .h1 {
        color: white;
    }
}

.gray {
    background-color: $gray;

    * {
        color: white;
    }

    h3, .h3 {
        color: white;
        border-bottom: none;
    }
}

.gray-lightest {
    background-color: $gray-lightest;

    * {
        color: $gray-dark;
    }
}

.brand-primary {
    background-color: $brand-primary;

    * {
        color: $brand-dark;
    }
}

.brand-dark {
    background-color: $brand-dark;

    * {
        color: white;
    }

    h3, .h3 {
        color: white;
    }
}

.brand-light {
    background-color: $brand-light;

    * {
        color: $brand-dark;
    }

    h3, .h3 {
        color: $brand-dark;
    }
}

.brand-highlight {
    background-color: $brand-highlight;

    * {
        color: white;
    }

    h3, .h3 {
        color: white;
    }
}

.brand-blue {
    background-color: $brand-blue;

    * {
        color: white;
    }

    h3, .h3 {
        color: white;
    }
}

.brand-brown {
    background-color: $brand-brown;

    * {
        color: $gray;
    }
}

.wordmark {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* === nav theming === */

#main-nav {
    #header-i-mark img {
        background-color: $brand-primary;
    }

    a {
        color: black;
    }

    .nav-link {
        font-family: $font-family-sans-serif-condensed;
        letter-spacing: .5px;
        font-size: 1.2rem;
    }

    .dropdown-menu {
        border: none;
        background-color: white;
        box-shadow: 0px 3px 3px $gray-light;
        background-color: lighten($gray-lightest, 15%);

        h2 {
            font-size: 1.5rem;
            font-weight: 500;
            color: $brand-dark;
        }

        ul {
            list-style-type: none;
        }

        ul.childmenu {
            border-left: 1px solid $gray-lighter;

            li a {
                color: $gray-dark;
            }
        }
    }

    .dropdown-item {
        white-space: normal;
        padding: 0 0;
    }
}

/* === sidebar === */
#sidebar-nav {
    font-family: $font-family-sans-serif;

    a {
        color: black;
    }

    ul {
        list-style-type: none;

        li {
            margin-top: .5rem;
            margin-bottom: .5rem;
        }
    }

    ul.fourth-level {
        list-style-type: square;
    }

    a.first-level {
        font-size: 1.8rem;
        font-weight: bold;
        border-bottom: 6px solid $brand-orange;
        display: block;
    }

    a.second-level {
        font-size: 1.1rem;
        font-weight: bold;
    }

    a.third-level {
        font-size: .8rem;
        color: $gray;
    }

    a.fourth-level {
        font-size: .8rem;
        color: $gray;
    }

    a.current-page {
        color: $brand-orange;
    }
}

footer {
    ul {
        list-style-type: none;
    }
}

/* === HOME === */
#feature {
    h2 {
        font-size: 3rem;
        color: black;
        font-weight: 700;
    }

    p {
        font-size: 1.3rem;
        font-family: $font-family-sans-serif-condensed;
        color: $gray-dark;
    }
}

#communications {

    /*background:
    //linear-gradient(rgba(56, 189, 178, 0.45),
    //rgba(56, 189, 178, 0.45)),
    linear-gradient(rgba(255, 255, 255, 0.65),
    rgba(255, 255, 255, 0.65)),
    url($image-directory + "beckman-geo-colors-1.png");
    background-size: 60%;*/
    background: linear-gradient(rgba(255, 255, 255, .80), rgba(255, 255, 255, 0.8)), url($image-directory + "low-contrast-linen.png");


    .card {
        box-shadow: 0px 0px 5px gray;

        h3 {
            font-size: 1.2rem;
            line-height: 1.3;

            a {
                color: $brand-dark;
            }
        }
    }

    p {
        color: $gray-light;
    }

    p.date {
        font-style: italic;
        font-size: .7rem;
        margin-bottom: .3rem;
    }
}

#outlook {
    a {
        color: $brand-dark;
    }

    .event-list {
        ol {
            list-style-type: none;
            font-size: 1.2rem;

            li:not(:last-child) {
                border-bottom: 1px solid $gray-lightest;
            }
        }
    }

    .default-event a, .default-message {
        font-size: .9rem;
    }

    h2, h2 a {
        color: $brand-dark;
        font-weight: bold;
    }

    .notice-message, .default-heading {
        font-size: 1.2rem;
    }
}

/* === RESEARCH === */
#subtheme-listnav {
    background-color: $gray-lightest;
}

.app-message {
    background-color: $brand-dark;
    color: white;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

/* === news === */
#news-list {
    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            border-bottom: 1px solid $gray-lightest;
        }
    }
}

#paging {
    ul {
        list-style-type: none;
    }
}

/* EVENTS */
.table .row:nth-child(odd) {
    background-color: lighten($gray-lightest, 10%);
}

.table {
    .row {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

/* === directory and subtheme people === */
#list-nav-directory {
    .list-nav-item {
        background-color: lighten($gray-lightest, 5%);
        color: white;
        font-size: 1.3rem;
        font-weight: bold;
        font-family: $font-family-sans-serif-condensed;
        text-align: center;
    }

    ul {
        text-align: left;
        list-style-type: none;

        li {
            line-height: 1.3rem;
        }

        a {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
}

.person {
    font-family: $font-family-serif;

    .name a {
        font-size: 1.3rem;
    }
}

.alphabet a {
    text-transform: uppercase;
    border: .5px solid $brand-dark;
}